@page
@model BulkyWeb.Pages.Customer.Home.MapModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@9.0.0/dist/ol.css" type="text/css">
    <style>
        .map-container {
            position: absolute;
            top: 8%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            z-index: 1;
        }
    </style>
</head>
<body>
    <div id="map" class="map-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/ol@9.0.0/dist/ol.js"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [
                            @foreach(var shop in Model.Shops)
                            {
                                <text>
                                    new ol.Feature({
                                        geometry: new ol.geom.Point(ol.proj.fromLonLat([@(shop.Location.Y), @(shop.Location.X)]))
                                    }),
                                </text>
                            }
                        ]
                    }),
                    style: new ol.style.Style({
                        image: new ol.style.Icon({
                            anchor: [0.5, 1],
                            src: '/images/icon.png'
                        })
                    })
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([21.751, 41.615]),
                zoom: 8.5
            })
        });

        map.on('click', function (event) {
            map.forEachFeatureAtPixel(event.pixel, function (feature) {
                var coordinates = feature.getGeometry().getCoordinates();

                map.getView().animate({ center: coordinates, zoom: 17, duration: 1000 });
            });
        });
    });
</script>


</body>
</html>
