@page
@model BulkyWeb.Pages.Customer.Home.MapModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@9.0.0/dist/ol.css" type="text/css">
    <style>
        .map-container {
            position: absolute;
            top: 8%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            z-index: 1;
        }
    </style>
</head>
<body>
    <div id="map" class="map-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/ol@9.0.0/dist/ol.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                new ol.Feature({
                                    geometry: new ol.geom.Point(ol.proj.fromLonLat([22.011605, 41.435637]))
                                })
                            ]
                        }),
                        style: new ol.style.Style({
                            image: new ol.style.Icon({
                                anchor: [0.5, 1],
                                src: '/images/icon.png'
                            })
                        })
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([22.011605, 41.435637]),
                    zoom: 13.5
                })
            });
        });
    </script>


</body>
</html>
